In [8]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [9]:
!pip install -q pandas==1.1.5
%load_ext sql
%sql sqlite:///RealWorldData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @RealWorldData.db'

In [10]:
import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

In [6]:
#Q1 FIND THE TOTAL NUMBER OF CRIMES IN THE CRIME TABLE:
%sql select COUNT(*) AS TOTAL_CRIMES FROM CHICAGO_CRIME_DATA

 * sqlite:///RealWorldData.db
Done.

[(533,)]

In [33]:
#Q2:  List community areas with per capita income less than 11000
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME<11000

 * sqlite:///RealWorldData.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [11]:
#Q3: List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)
%sql select CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE "%MINOR%"

 * sqlite:///RealWorldData.db
Done.

[('HL266884',), ('HK238408',)]

In [13]:
#Q4: List all kidnapping crimes involving a child?
%sql SELECT CASE_NUMBER,  PRIMARY_TYPE, DATE, DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE\
PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE "%CHILD%"

 * sqlite:///RealWorldData.db
Done.

[('HN144152', 'KIDNAPPING', '2007-01-26', 'CHILD ABDUCTION/STRANGER')]

In [17]:
#Q5 What kinds of crimes were recorded at schools?.
%sql SELECT DISTINCT (PRIMARY_TYPE), DESCRIPTION,LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA\
WHERE LOCATION_DESCRIPTION  LIKE "%SCHOOL%"

 * sqlite:///RealWorldData.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

In [29]:
#Q7: List 5 community areas with highest % of households below poverty line¶
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY  \
FROM CENSUS_DATA\
GROUP BY COMMUNITY_AREA_NAME ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [59]:
#Q6# List the average safety score for each type of school.

In [67]:
%%sql
SELECT "Elementary, Middle, or High School",AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
GROUP BY "Elementary, Middle, or High School";

 * sqlite:///RealWorldData.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [39]:
#Q8: Which community area is most crime prone?
%sql SELECT COMMUNITY_AREA_NUMBER ,COUNT(COMMUNITY_AREA_NUMBER) AS RATE FROM CHICAGO_CRIME_DATA\
GROUP BY COMMUNITY_AREA_NUMBER\
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1

 * sqlite:///RealWorldData.db
Done.

[(25.0, 43)]

In [42]:
#Q9 Use a sub-query to find the name of the community area with highest hardship index
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM  CENSUS_DATA \
WHERE HARDSHIP_INDEX=(SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * sqlite:///RealWorldData.db
Done.

[('Riverdale', 98.0)]

In [54]:
#Q10: Use a sub-query to determine the Community Area Name with most number of crimes?¶

In [58]:
%%sql
SELECT community_area_name FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
    GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1) LIMIT 1;

 * sqlite:///RealWorldData.db
Done.

[('Austin',)]